<h2> How to play Freecell  </h2>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;If you are already familiar with Freecell, you can skip this section.. etc<br><br>

<h2> How to play Freecell Faceoff </h2>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Game specific things like who wins and etc.