<h2> How to play FreeCell  </h2>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FreeCell is a variant of the classic Solitaire card game that uses the standard 52-card deck. The cards are dealt face-up into 8 cascades (columns of overlapping cards) with the bottom card available for play. The layout also consists of four "free" cells (top-left) and four foundation piles (top-right). The free cells are buffer slots that can store cards temporarily.<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;The exposed bottom card of each cascade can be either moved into an empty cell or onto another bottom card of value one higher and of the opposite color (e.g: 2 of hearts can be played onto a 3 of clubs.) Aces can be moved directly into the four foundation piles, one for each suit. Afterwards, cards of the matching suit can be placed on top of the aces in ascending order. The game is won once all 52 cards have been moved to the foundation piles.<br><br>

<h2> How to play FreeCell Faceoff </h2>


&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FreeCell Faceoff has multiple game modes. You can play by yourself in <b>Single-player</b> mode just as in the traditional game, or you can put a twist on the game in  multiplayer faceoff game modes with an opponent.<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<B>Time Attack:</B> Both players are given the same table, but are playing on their own instance of that table. The winner is whoever finishes the fastest.<br><br>

&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>Turn Based:</b> Both players get to take turns controlling the same table. When the winning move is played, the person who played it wins and the other player loses. Likewise, when the losing move is played, that player loses and their opponent wins.